@media (max-width: 425px) {
  header {
    padding: 0;
    .header-content {
      grid-template-columns: 1fr;
      padding-bottom: 4rem;
      .left-header {
        .h-shape {
          display: none;
        }
        .image {
          margin: 0 auto;
          width: 90%;
        }
      }
      .right-header {
        padding: 1rem 0rem !important;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name {
          font-size: 2.5rem !important;
        }
      }
    }
  }

  .section {
    padding: 1rem 2rem !important;
  }

  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0 !important;
      p {
        padding-left: 0 !important;
      }
    }
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }

  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }

  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .blogs-item {
    grid-template-columns: 1fr;
    padding-top: 3rem;
    padding-bottom: 7rem;
  }

  .contact-content {
    flex-direction: column;
    padding-bottom: 7rem;
    .right-contact {
      margin-left: 0;
      margin-top: 3rem;
      .input-control-custom {
        flex-direction: column;
        :last-child {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  //   re use button

  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
      .bg-text {
        font-size: 1rem;
      }
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 1rem;
    }
  }

  .theme-btn {
    width: 40px;
    height: 40px;
    i {
      font-size: 1rem;
    }
  }
}

// -------------------------------

@media (min-width: 426px) and (max-width: 768px) {
  header {
    padding: 0;
    .header-content {
      .left-header {
        .image {
          width: 80%;
          height: 70%;
          margin-left: 2rem;
        }
      }
      .right-header {
        padding-right: 0px !important;
      }
    }
  }

  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 50%, 2fr;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0 !important;
      p {
        padding-left: 0 !important;
      }
    }
  }

  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }

  .portfolios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    .portfolio-item {
      .image {
        width: 550px;
        height: 550px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }
    }
  }

  .blogs-item {
    grid-template-columns: 1fr;
    padding-top: 3rem;
    padding-bottom: 7rem;
  }

  .contact-content {
    flex-direction: column;
    padding-bottom: 7rem;
    .right-contact {
      margin-left: 0;
      margin-top: 3rem;
      .input-control-custom {
        flex-direction: column;
        :last-child {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  }
  // bottom

  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
      .bg-text {
        font-size: 2.9rem;
      }
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 1rem;
    }
  }
  .theme-btn {
    width: 40px;
    height: 40px;
    i {
      font-size: 1rem;
    }
  }
}
